<a href="https://colab.research.google.com/github/DanielaVizcarra/HANDS-ON4/blob/main/Hands_on_4_specs_Vizcarra_Bernal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

indicaciones:

*entradas

1- el dataset debe  estar predefinido **(harcoded)**

*salidas

1- imprimir la ecuacion de regresion **ŷ = β0 + β1 x1** reemplazando los valores optimos, calculados para los parametros del modelo **(Betas)**

2- A partir de un valor X predefinido en el codigo calcular e imprimir el valor de Y predecido.

PRIMERO VAMOS A CREAR NUESTRAS CLASE **DATASET**, EN LA CUAL VAMOS A DEFINIR CADA VALOR DEL DATASET A USAR. (EN ESTE CASO USÉ DE REFERENCIA LOS DATOS DE R&D SPEND **(X)** Y PROFIT **(Y)**, LOS CUALES SE VIERON EN LA TAREA PASADA).

para el constructor usé **def __init__(self)** si se descompone cada parte tenemos el "def" para definir el metodo; el "init" es un metodo especial para definir las propiedades y argumentos por defecto que tendrá el objeto creado,básicamente como se init-cializarán los objetos; finalmente "self" que es lo que nos permite asignar una referencia al objeto de la clase.

In [ ]:
class Dataset:
    def __init__(self): # constructor
        self.X = [
            165349.20, 162597.70, 153441.51, 144372.41, 142107.34,
            131876.90, 134615.46, 130298.13, 120542.52, 123334.88,
            101913.08, 100671.96, 93863.75, 91992.39, 119943.24,
            114523.61, 78013.11, 94657.16, 91749.16, 86419.70,
            76253.86, 78389.47, 73994.56, 67532.53, 77044.01,
            64664.71, 75328.87, 72107.60, 66051.52, 65605.48,
            61994.48, 61136.38, 63408.86, 55493.95, 46426.07,
            46014.02, 28663.76, 44069.95, 20229.59, 38558.51,
            28754.33, 27892.92, 23640.93, 15505.73, 22177.74,
            1000.23, 1315.46, 0.00, 542.05, 0.00
        ]
        self.Y = [
            192261.83, 191792.06, 191050.39, 182901.99, 166187.94,
            156991.12, 156122.51, 155752.60, 152211.77, 149759.96,
            146121.95, 144259.40, 141585.52, 134307.35, 132602.65,
            129917.04, 126992.93, 125370.37, 124266.90, 122776.86,
            118474.03, 111313.02, 110352.25, 108733.99, 108552.04,
            107404.34, 105733.54, 105008.31, 103282.38, 101004.64,
            99937.59, 97483.56, 97427.84, 96778.92, 96712.80,
            96479.51, 90708.19, 89949.14, 81229.06, 81005.76,
            78239.91, 77798.83, 71498.49, 69758.98, 65200.33,
            64926.08, 49490.75, 42559.73, 35673.41, 14681.40
        ]


    def getX(self):
        return self.X

    def getY(self):
        return self.Y

Creamos la clase SLR (SIMPLE LINEAL REGRESSION) donde vamos a definir el método matemático a seguir para calcular los valores de las **betas** .
desde la cantidad de datos contenidos en el dataset y el valor que se le asignará a N, hasta la obtencion de resultado de las sumatorias generados a partir de los calculos para obtener un resultado final, que nos de el valor de B_0 Y B_1

In [ ]:
class SLR:
  #asignación de los valores del data set que corresponden a  R&D SPEND (X) Y PROFIT (Y).
      def __init__(self,X,Y):  #constructor
        self.X = X # toma el valor X del dataset y lo almacena en self.X
        self.Y = Y
        self.B_0 = None #inicializan los atributos sin valor, los cuales usaremos para almacenar el resultado de cada una de las betas pero como no lo tenemos por ahora nos reservamos ese valor.
        self.B_1 = None

      def toComputeB_0(self):
        n = len(self.X) #calculamos el número de elementos de X para asignarle ese valor a N
        sum_x = sum(self.X) #sumamos todos los elementos contenidos en X
        sum_y = sum(self.Y)
        sum_xy = sum(xi * yi for xi, yi in zip(self.X, self.Y)) # se multiplican los datos de X*Y (el conjunto de pares ordenados) y  luego se suman todos los resultados
        sum_xsqua = sum(xi ** 2 for xi in self.X)#se eleva al cuadrado cada elemento contenido en X y luego se suman todos los resultados y se le asigana el valor.



        self.B_1 = ((n * sum_xy) - (sum_x * sum_y)) / ((n * sum_xsqua) - ((sum_x) ** 2))#aplicamos las formulas vistas en clase para B_1 con los resultados obtenidos de las sumatorias
        self.B_0 = (sum_y - (self.B_1 * sum_x)) / n  #aplicamos las formulas vistas en clase para B_0 con los resultados obtenidos de las sumatorias y el valor de B_1
        return self.B_0

      def toComputeB_1(self):
        n = len(self.X)
        sum_x = sum(self.X)
        sum_y = sum(self.Y)
        sum_xy = sum(xi * yi for xi, yi in zip(self.X, self.Y))
        sum_xsqua = sum(xi ** 2 for xi in self.X)

        self.B_1 = ((n * sum_xy) - (sum_x * sum_y)) / ((n * sum_xsqua) - (sum_x ** 2))#aplicamos las formulas vistas en clase para B_1 con los resultados obtenidos de las sumatorias
        return self.B_1


      def RegressionEquation(self):
        #validamos que B_0 Y B_1 tengan un valor asignado
        if self.B_0 is not None and self.B_1 is not None:
          print(f"La ecuación de regresión es: Y = {self.B_0:.2f} + {self.B_1:.2f} * X") # se crea la cadena de texto con los datos de B_0 Y B_1 con la cantidad de decimales que debe mostrar print(f"B_0: {regresion.B_0:.2f}")
        else:
         print("no hay valores")

creamos la instancia data_set para poder acceder a los datos de la clase contenidos en las variables X y Y

In [ ]:
data_set = Dataset()
X = data_set.getX() #obtienelos los datos de las variables que se encuentran instanciados en la clase Dataset
Y = data_set.getY()

 vamos a crear la instancia regresion de para obtener los valores de X y Y que contiene SLR, llama a los metodos donde se calcularon las betas y regresa su valor el cual podemos ver con el print

In [ ]:
regresion = SLR(X, Y)
B_0 = regresion.toComputeB_0() #obtenemos el valor de la beta y lo almacenamos aqui
B_1 = regresion.toComputeB_1()#guardamos el valor de la beta calculado anteriormente
print(f"B_0: {regresion.B_0:.2f}")
print(f"B_1: {B_1:.2f}")

B_0: 49032.90
B_1: 0.85

por ultimo vamos a imprimir la ecuación de regresión lineal

In [ ]:
regresion. RegressionEquation()

La ecuación de regresión es: Y = 49032.90 + 0.85 * X

comprobamos los datos con los obtenidos en la hoja de google


 ![Captura de pantalla 2023-10-03 153709.png]()![Captura de pantalla 2023-10-03 153700.png]()

vamos a darle nuevos valores  a  R&D SPEND **(X)** para predecir profit (Y)

In [ ]:
newrd = [
    79556.00, 67605.00, 165872.00, 7495.00, 130278.00,
    100807.00, 42886.00, 59488.00, 32347.00, 7893.00,
    32012.00, 100956.00, 142241.00, 117950.00, 87835.00,
    75569.00, 109687.00, 105901.00, 157054.00, 14629.00,
    173472.00, 45475.00, 44782.00, 116980.00, 192000.00,
    21184.00, 25542.00, 50471.00, 151827.00, 184061.00,
    50563.00, 170395.00, 173472.00, 2480.00, 96117.00,
    32491.00, 167533.00, 7293.00, 22080.00, 41632.00,
    59217.00, 159558.00, 65544.00, 121994.00, 95677.00,
    79528.00, 181240.00, 120534.00, 178068.00, 167152.00]

creamos la formula para predecir el profit de estos datos
**profit= B_0 + B_1 * R&D SPEND**

In [ ]:
profit = [B_0 + B_1 * rd for rd in newrd]

for rd, nprofit in zip(newrd,profit):
    print(f"R&D: {rd:.2f},  Profit: {nprofit:.2f}")

R&D: 79556.00,  Profit: 116996.90
R&D: 67605.00,  Profit: 106787.27
R&D: 165872.00,  Profit: 190735.92
R&D: 7495.00,  Profit: 55435.81
R&D: 130278.00,  Profit: 160328.27
R&D: 100807.00,  Profit: 135151.45
R&D: 42886.00,  Profit: 85670.04
R&D: 59488.00,  Profit: 99852.98
R&D: 32347.00,  Profit: 76666.66
R&D: 7893.00,  Profit: 55775.82
R&D: 32012.00,  Profit: 76380.47
R&D: 100956.00,  Profit: 135278.74
R&D: 142241.00,  Profit: 170548.16
R&D: 117950.00,  Profit: 149796.57
R&D: 87835.00,  Profit: 124069.58
R&D: 75569.00,  Profit: 113590.84
R&D: 109687.00,  Profit: 142737.56
R&D: 105901.00,  Profit: 139503.21
R&D: 157054.00,  Profit: 183202.78
R&D: 14629.00,  Profit: 61530.33
R&D: 173472.00,  Profit: 197228.53
R&D: 45475.00,  Profit: 87881.80
R&D: 44782.00,  Profit: 87289.78
R&D: 116980.00,  Profit: 148967.90
R&D: 192000.00,  Profit: 213056.84
R&D: 21184.00,  Profit: 67130.21
R&D: 25542.00,  Profit: 70853.21
R&D: 50471.00,  Profit: 92149.84
R&D: 151827.00,  Profit: 178737.40
R&D: 184061.00,  Profit: 206274.62
R&D: 50563.00,  Profit: 92228.43
R&D: 170395.00,  Profit: 194599.88
R&D: 173472.00,  Profit: 197228.53
R&D: 2480.00,  Profit: 51151.54
R&D: 96117.00,  Profit: 131144.82
R&D: 32491.00,  Profit: 76789.68
R&D: 167533.00,  Profit: 192154.90
R&D: 7293.00,  Profit: 55263.25
R&D: 22080.00,  Profit: 67895.65
R&D: 41632.00,  Profit: 84598.76
R&D: 59217.00,  Profit: 99621.47
R&D: 159558.00,  Profit: 185341.92
R&D: 65544.00,  Profit: 105026.57
R&D: 121994.00,  Profit: 153251.32
R&D: 95677.00,  Profit: 130768.93
R&D: 79528.00,  Profit: 116972.98
R&D: 181240.00,  Profit: 203864.67
R&D: 120534.00,  Profit: 152004.06
R&D: 178068.00,  Profit: 201154.85
R&D: 167152.00,  Profit: 191829.41

Comprobamos con el primer dato que se obtuvo en la hoja de calculo para ver que coincida

![image.png]()




$y=x^2$

$e^{i\pi} + 1 = 0$

$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$

$\frac{n!}{k!(n-k)!} = {n \choose k}$

$A_{m,n} =
 \begin{pmatrix}
  a_{1,1} & a_{1,2} & \cdots & a_{1,n} \\
  a_{2,1} & a_{2,2} & \cdots & a_{2,n} \\
  \vdots  & \vdots  & \ddots & \vdots  \\
  a_{m,1} & a_{m,2} & \cdots & a_{m,n}
 \end{pmatrix}$
```

$y=x^2$

$e^{i\pi} + 1 = 0$

$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$

$\frac{n!}{k!(n-k)!} = {n \choose k}$

$A_{m,n} =
 \begin{pmatrix}
  a_{1,1} & a_{1,2} & \cdots & a_{1,n} \\
  a_{2,1} & a_{2,2} & \cdots & a_{2,n} \\
  \vdots  & \vdots  & \ddots & \vdots  \\
  a_{m,1} & a_{m,2} & \cdots & a_{m,n}
 \end{pmatrix}$


 ---